.home{
    position: relative;
    display: block;
    width: 100%;
    height: 630px;
    text-align: center;
    background-image: url("../imgs/2.jpg");
    background-size: 100%;
    filter: opacity(0.8)   drop-shadow(5px 5px 5px #323232);
    overflow: hidden;
}
.home ul{
    width: 100%;
    height: inherit;
}
.home .preface{
    position: absolute;
    display: block;
    top: 200px;
    height: 400px;
    margin: 0 8%;
    color: #fff;
    filter: brightness(2.0) contrast(2);
    z-index: 3;
}
.home .preface a{
    display: block;
    margin-top:50px;
    margin-left:20%;
    line-height: 50px;
}
.home .preface a:hover{
    background-color: #4091ef;
    border-radius: 25px;
}
.about{
    display: block;
    width: 100%;
    border: 1px solid red;
}
.about h6{
    margin-top: 70px;
}
.press{
    display: block;
    width:100%;
    height: auto;
    margin-top: 3%;
    border: 1px solid red;
}
.press h6{
    margin-top: 70px;
}
.press .flex-box{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    margin-top: inherit;
    border: 1px solid red;
}
.press .flex-box .flex-item{
    width: 280px;
    height: 200px;
    padding: 30px;
    margin-top: inherit;
    border: 1px solid red;
}
.press .flex-box .flex-item img{
    width: 100%;
    height: 100%;
}